# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# Dependency directories
node_modules

# Build directories
dist

# Env
.env
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db